/* Responsive Nav Styles */
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.blueMobileMenu {
	color:#fff;
	display:none;
	margin: 0;
	padding: 0;
	position: relative;
	font-size:1em;
	z-index:1000;
}

.blueMobileMenu li {
	background:#2f659a;
	border-bottom: solid 1px #407aaf;
	cursor:pointer;
	padding:12px 18px;
	list-style:none;
}

.blueMobileMenu li a {
	color:#fff;
	text-decoration: none;
}

.blueMobileMenu li ul li {
	background: #407aaf;
	border-bottom:solid 1px #fff;
}

.blueMobileMenu li ul li ul li {
	background: #66a5da;
}

.blueMobileMenu li ul li ul li ul li {
	background:#91b4d1;
}

.blueMobileMenu li ul {
	margin: 12px -18px -13px -58px;
}

.closed > ul {
	display: none;
}

.icon {
	float:right;
	margin-top: -4px;
}

.blueMobileMenuIcon {
	background-color: rgb(47, 101, 154);
	height: 47px;
	width: 47px;
	background-image: url('../imgs/menu_icon.png');
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
	background-size: 50% 40%;
}